    h1{
    font-family: 'Cairo Play', cursive;
    color: #830088;
}
h2{
    font-family: 'Cairo Play', cursive;
    color: #830088;
}
a{
    font-family: 'Montserrat', sans-serif;
}
li{
    font-family: 'Montserrat', sans-serif;
}
label{
    font-family: 'Montserrat', sans-serif;
    color: #830088;
}
p{
    font-family: 'Roboto Mono', monospace;
}